.content {
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
}

.box .box-header > i.fa {
  font-size: 30px;
}

.box .box-title {
  font-weight: bold;
}

.box .box-body {
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
}

.box .box-text {
  font-size: 24px;
}

.flex-container-row {
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
}

.flex-container-column {
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: column wrap;
  /*IE 10*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-width {
  width: 100%;
}

.large-font {
  font-size: 32px !important;
}

.primary-text-color {
  color: #3097D1;
}

i.fa-pencil-square-o,
.fa-floppy-o {
  margin-left: 10px;
  font-size: 18px !important;
}

i.fa-pencil-square-o:hover,
.fa-floppy-o:hover {
  cursor: pointer;
}

.introduction {
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  width: 100%;
}

.introduction .cv-left-column,
.introduction .cv-right-column {
  padding: 10px;
}

.introduction .cv-left-column {
  width: 60%;
}

.introduction .cv-right-column {
  width: 40%;
}

