.content {
  border: 2px solid blue;
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
}

.cv-row {
  border: 2px solid red;
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  width: 100%;
}

.cv-row .box {
  border: 2px solid green;
}

.cv-row .box .box-body {
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  border: 2px solid orange;
}

.student-image {
  border: 2px solid blue;
  margin-right: 10px;
}

.student-image .thumbnail {
  -ms-flex-item-align: center;
      align-self: center;
  display: inline-block;
  max-height: 120px;
  margin-bottom: 0px;
}

.student-name {
  border: 2px solid blue;
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: column wrap;
  /*IE 10*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
}

.student-name .firstname {
  font-size: 3em;
  font-weight: bold;
  color: #3097D1;
}

.student-name .surname {
  font-size: 3em;
  font-weight: bold;
  color: #2b363b;
}

.student-contact-details {
  border: 2px solid blue;
  margin-left: auto;
}

.student-contact-details .info-box {
  /*Safari 6.1, Chrome 21, Opera 15*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -ms-flex-flow: row wrap;
  /*IE 10*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*Edge, Firefox 28, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*Edge, Firefox 22, Safari 9, Chrome 29, IE 11, Opera 12.1*/
  min-height: 60px;
}

.student-contact-details .info-box .info-box-icon {
  line-height: 60px;
  width: 60px;
  height: 60px;
}

.cv-col-10 {
  width: 100%;
}

.cv-col-5 {
  width: 50%;
}

.cv-col-4 {
  width: 40%;
}

