@import 'mixins';
@import 'variables';

.content {
    // border: 2px solid blue;
    @include flexbox-container(row, wrap, space-around);
}

.box {
    // border: 2px solid red;
    .box-header {
        > i.fa {
            font-size: 30px;
        }
    }

    .box-title {
        font-weight: bold;
    }

    .box-body {
        // border: 2px solid orange;
        @include flexbox-container(row, wrap, space-between);
    }
}

.flex-container-row {
    @include flexbox-container(row, wrap, space-between);
}

.flex-container-column {
    // border: 2px solid blue;
    @include flexbox-container(column, wrap, space-around);
}

.full-width {
    width: 100%;
}

.large-font {
    font-size: 32px !important;
}

.primary-text-color {
    color: $brand-primary;
}

label > i {
    margin-left: 10px;
}

.introduction {
    // border: 2px solid blue;
    @include flexbox-container(row, wrap, space-around);
    width: 100%;

    .cv-left-column,
    .cv-right-column {
        // border: 2px solid red;
        padding: 10px;
    }

    .cv-left-column {
        width: 60%;
    }

    .cv-right-column {
        width: 40%;
    }
}
