@import 'mixins';
@import 'variables';

.content {
    border: 2px solid blue;
    @include flexbox-container(row, wrap, space-around);
}

.cv-row {
    // border: 2px solid red;
    @include flexbox-container(row, wrap, space-between);
    width: 100%;

    .box {
        // border: 2px solid green;
        .box-header{
            > i.fa {
                font-size: 30px;
            }
        }
        .box-title {
            font-weight: bold;
        }
        .box-body {
            @include flexbox-container(row, wrap, space-between);
            // border: 2px solid orange;
        }
    }
}

.flex-container-column {
    @include flexbox-container(column, wrap, space-around);
}

.large-font {
    font-size: 32px !important;
}

label > i {
    margin-left: 10px;
}
